Habbit.xcodeproj/xcuserdata/Iris_2.xcuserdatad/xcschemes/xcschememanagement.plist
Habbit.xcworkspace/xcuserdata/Iris_2.xcuserdatad/UserInterfaceState.xcuserstate
Habbit/Assets.xcassets/delete.imageset/Contents.json
Pods/Pods.xcodeproj/xcuserdata/Iris_2.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
